.container {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: white;
}

.header {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  padding: 10px;
}

.body {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.carouselContainer {
  height: auto;
  width: 100%;
  background-color: #afafaf;
  text-align: center;
}

.carousel {
  display: inline-block;
  margin-top: 15px;
  width: 50%;
}

.content {
  border-bottom: 2px;
  border-top: 0ch;
  border-left: 0ch;
  border-right: 0;
  border-style: solid;
  border-color: #afafaf;
}
