.card {
  max-width: 300px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  text-align: center;
  flex: 1;
}

.cardImg {
  width: 100%;
}

.bioContainer {
  width: 100%;

  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}
