nav {
  background-color: white;
}
.navbar {
  border-bottom: 8px solid red;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 350px;
}
.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
  background-color: var(--darkGrey);
  border-radius: 5px;
}
.nav-social-links {
  display: none;
}

.mainLogo {
  height: 200px;
  width: 200px;
  float: left;
}
@media screen and (min-width: 570px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 990px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
    position: relative;
    z-index: 1000;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--mainBlack);
    transform: translateY(-5px);
  }
}
